
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
  min-height: 100vh;
}
.site-title h1 {
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  color: gold;
  font-size: 2rem;
  margin: 0;
}
.subtitle {
  font-weight: 700;
  color:  white;
  font-size: 0.75rem;
  font-family: "Lora", sans-serif;
  margin: 0;
  text-transform: capitalize;
}
.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5em 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (min-width: 375px) and (max-width: 1050px) {
  .container-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  header {
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
  }
 nav ul {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    width: 100%;
  }

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav li {
  margin-left: 6em;
}
nav a {
  font-family: "Lora", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0;
  cursor: pointer;
  position: relative;
}

nav a::after{
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  top: 30px;
  width: 0;
  background: gray;
  transition: width .2s;
}
nav a:hover::after,
nav a:hover,
nav a:focus {
  color: gray;
  width: 100%;
}
.current-page {
  color: gray;
}
.current-page:hover {
  color: gray;
}

@media (min-width: 375px) and (max-width: 1050px) {
  nav ul {
    flex-direction: column;
    align-items:center;    
  }
  nav li {
    margin: .7em 0;
  }
  nav a {
    display: inline-block;
    text-align: center;
    width: 100%; /* Ensures the links are centered within the li elements */
  }
}

/* Home page */
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h3 {
  font-weight: 700;
  font-size: 200%;
  color: goldenrod;
  font-family: "Lora", sans-serif;
}
.landing-text h1 {
  font-size: 550%;
  font-weight: 700;
  color: white;
  font-family: "Lora", sans-serif;
  padding-bottom: 5px;
  margin: 0 0;
}
@media (min-width: 375px) and (max-width: 1050px) {
  .landing-text h1 {
    font-size: 260%;
  }
}
.btn-hire {
  color: white;
  border-style: solid;
  border-color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  position:relative;
  padding: 20px;
}

.btn-hire:hover,
.btn-hire:focus {
  color: grey;
}
@media (min-width: 375px) and (max-width: 1050px) {
  .btn-hire {
    padding: 8px 16px;
  }
}
#hr-main {
  width: 100%;
  max-width: 1300px;
  height: 4px;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 100px;
}

/* Services Section */
.gallery-header {
  text-align: center;
  padding: 35px;
}
.gallery-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
  font-family: "Lora", sans-serif;

}

.gallery-header p {
  font-weight: 600;
  color: goldenrod;
  font-size: 1.5rem;
  font-family: "Lora", sans-serif;
}

@media (min-width: 375px) and (max-width: 1050px) {
  .gallery-header h1 {
    font-size: xx-large;
  }
  .gallery-header p {
    font-size: large;
  }

}

.gallery-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 55px;
}

.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 10px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 50px;
}

.image-container {
  position: relative;
  width: 95%;
}

/* The image itself */
.image-container img {
  width: 90%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Darken the image slightly */
.image-container img {
  filter: brightness(.6);
}
  
/* Text overlay */
.overlay {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: white;
  font-size: 1.5rem;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
  transition: transform 0.3s ease;
  z-index: 1;
}

.overlay h3{
  color: goldenrod;
}

/* Hover effects */
.image-container:hover img {
  transform: scale(1.05);
  filter: brightness(1.3);
}

.image-container:hover .overlay {
  transform: scale(1.05);
}

@media (min-width: 375px) and (max-width: 1050px) {
  .gallery-header h1 {
    font-size: xx-large;
  }
  .gallery-header p {
    font-size: large;
  }

  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .gallery-row {
    padding-left:5%;
  }
  .overlay {
    font-size: medium;
    text-align:center;
  }

}

/* Book Section */
.book-header {
  text-align: center;
  padding: 32px;
}
.book-header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color:white;
}
@media (min-width: 375px) and (max-width: 1050px) {
  .book h1 {
    font-size: x-large;
  }
}
.calendly-container {
  background-color: black;
  max-width: 800px;
  margin: 0 auto;
}

.calendly-inline-widget{
  width: 100%;
}


/* About Section */
.about {
  margin: 3rem 4rem;
}
.about-header {
  text-align: center;
}
@media (min-width: 375px) and (max-width: 1050px) {
  .about-header {
    text-align: center;
  }
}
.about-header h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color:white;
}
.about-content p {
  color: white;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures content wraps on smaller screens */
}

.about-text {
    flex: 1;
    margin-right: 20px; /* Adjust the spacing between text and image */
}

.about-image {
    flex: 1;
    max-width: 500px; /* Adjust the width of the image */
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: adds rounded corners to the image */
}

@media (min-width: 375px) and (max-width: 1050px) {
    .about-content {
        flex-direction: column; /* Stacks text and image vertically on smaller screens */
    }

    .about-text, .about-image {
        margin: 0; /* Removes margins on smaller screens */
    }
}
/* Contact Section */
.contact h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3.2rem;
  color: white;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 2em;
}
.flex-item-left {
  padding: 10px;
  flex: 50%;
}
.flex-item-left h4 {
  font-weight: 700;
  color: white;
}
.flex-item-left p {
  font-weight: 400;
  color: white;
}
.flex-item-right {
  padding: 10px;
  flex: 50%;
}
.flex-item-right form {
  margin: 10px;
}
.flex-item-right form input[type="text"],
select,
textarea {
  font-weight: 400;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.flex-item-right button {
  background-color: #1e56a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}
.flex-item-right button:hover,
.flex-item-right button:focus {
  background-color: #163172;
  color: white;
}
@media (max-width: 800px) {
  .flex-item-left,
  .flex-item-right {
    flex: 100%;
  }
}
/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background-color: black;
  margin-top: 20px;
}

footer h3 > span,
footer h3 > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
}
